body {
    background-color: rgb(236, 238, 244);
    font-family: sans-serif;
}

.container-header {
    display: flex;
    justify-content: space-between;
    margin: 30px 60px;
}

.logo-form {
    background-image: url(../img/logo-form.png);
    width: 100px;
    height: 100px;
    background-size: 100px 100px;
}

.text-color {
    color: rgb(165, 171, 197);
    font-weight: bold;
}

.button-header {
    background-color: rgb(236, 238, 244);
    border: 1px solid rgb(206, 213, 228);
    border-radius: 5px;
    height: 55px;
    width: 140px;
    margin-top: 25px;
    cursor: pointer;
}

.button-header:hover {
    border: 1px solid #6f7692;
}

.button-header>.fas:first-child {
    margin-right: 15px;
}

.container-form {
    margin: 60px 60px;
    height: auto;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(202, 209, 225);
    border-radius: 5px;
}

.order-information {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    border-bottom: 1px solid rgb(221, 225, 236);
}

.user-order-left {
    flex: 10 10 30%;
    display: flex;
    flex-direction: column;
    padding: 40px 30px 50px 100px;
}

.fa-clipboard {
    margin-left: -40px;
    margin-right: 15px;
}

.order-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 36px;
}

.order-data-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-data-item>span:first-child {
    margin-bottom: 5px;
}

.order-data-item>span:last-child {
    color: rgb(165, 171, 197);
}

.user-order-right {
    flex: 3 3 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 20px 30px;
}

.button-form {
    width: 180px;
    height: 60px;
    background-color: rgb(236, 238, 244);
    border: 1px solid rgb(206, 213, 228);
    border-radius: 5px;
    cursor: pointer;
}

.button-form:hover {
    border: 1px solid #76a7e1;
}

.submit-form {
    background-color: rgb(95, 202, 198);
}

.submit-form>span {
    color: rgb(254, 254, 254);
}

.help-center {
    flex: 3 3 20%;
    padding: 30px 30px 30px 60px;
}

.fa-life-ring {
    margin-left: -41px;
    margin-right: 15px;
}

.center-phone {
    margin-right: 15px;
}

.contact-text {
    color: rgb(168, 167, 187);
}

.form-information {
    width: 80%;
    margin: 0 auto;
    padding: 0 50px;
}

.selections {
    border: none;
    margin: 0;
}

.first-selection {
    text-align: center;
    padding: 100px 0 0 0;
}

.first-selection>h2 {
    letter-spacing: 3px;
    font-weight: normal;
    text-align: center;
    color: #6e768f;
    position: relative;
    margin: 0px;
    text-decoration-line: underline;
}

.check-items-box {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0 0 0;
    width: 100%;
}

.item-radio {
    margin: 10px;
    border: 2px solid #ebecef;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    width: 280px;
    height: 200px;
}

.item-radio:hover {
    border-color: #76a7e1;
}

.item-radio:active {
    border-color: #76a7e1;
}

[name="change-type"] {
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    overflow: hidden;
}

[name="change-type"]:checked+.item-checked::before {
    position: absolute;
    content: '';
    right: -14px;
    top: -14px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background: #76a7e1;
}

[name="change-type"]:checked+.item-checked::after {
    content: '';
    position: absolute;
    right: -5px;
    top: -8px;
    width: 5px;
    height: 10px;
    border: solid #fff;
    border-width: 0 4px 4px 0;
    border-radius: 3px;
    -webkit-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    transform: rotate(40deg);
}

.item-text {
    color: rgb(165, 171, 197);
    font-weight: bold;
    line-height: 325px;
}

.item-website {
    background: #f7f7fa url(../img/website.png) no-repeat;
    background-position: center;
    background-size: 70px;
}

.item-document {
    background: #f7f7fa url(../img/documents.png) no-repeat;
    background-position: center;
    background-size: 70px;
}

.item-account {
    background: #f7f7fa url(../img/social.png) no-repeat;
    background-position: center;
    background-size: 70px;
}

.files-information {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 25px 35px 35px 35px;
    color: #bcc3d9;
    width: 100%;
}

.files-table {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}